# Entorno virtual
venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.so


*.Zone.Identifier
*:Zone.Identifier
:Zone.Identifier

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
