# Entorno virtual
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de Windows/WSL
*.Zone.Identifier

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

